{
    {$CADDY_TLS_MODE}
    auto_https disable_redirects
    servers {
        metrics
    }
}

:9000 {
    metrics /metrics
  }
  
  :8000 {
    {$CADDY_TLS_CERT}
    log

    # Handle main app route
    @app_match {
        path /apps/api-docs*
    }
    handle @app_match {
        uri strip_prefix /apps/api-docs
        file_server * {
            root /opt/app-root/src/dist 
            browse
        }
    }

    # Handle beta app route
    @beta_match {
        path /beta/apps/api-docs*
    }
    handle @beta_match {
        uri strip_prefix /beta/apps/api-docs
        file_server * {
            root /opt/app-root/src/dist 
            browse
        }
    }

    # Handle preview app route
    @preview_match {
        path /preview/apps/api-docs*
    }
    handle @preview_match {
        uri strip_prefix /preview/apps/api-docs
        file_server * {
            root /opt/app-root/src/dist 
            browse
        }
    }

    handle /beta/ {
        redir /beta/apps/chrome/index.html permanent
    }

    handle /preview/ {
        redir /preview/apps/chrome/index.html permanent
    }

    handle / {
        redir /apps/chrome/index.html permanent
    }
}
